@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.pink {
  color: #FF0A78;
  font-weight: 600;
}

.off {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

:root {
  font-size: 10px;
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  overflow: hidden;
}

body {
  color: #eff2f7;
  height: 100vh;
  min-height: 100vh;
  background: #0E141B;
  font-family: "Nunito";
  position: relative;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 10px;
}

body::-webkit-scrollbar-track {
  background: #1e283338;
}

body::-webkit-scrollbar-thumb {
  background: #1e2833;
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
  background: #232f3b;
}

@-webkit-keyframes h3anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes h3anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(10px);
            transform: translateY(10px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes h3animUnd {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes h3animUnd {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@-webkit-keyframes anim {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes anim {
  0% {
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
  }
  100% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes headeranim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes headeranim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@-webkit-keyframes opacityanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes opacityanim {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* --- Modal --- */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100vh;
  inset: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 999;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.burger-modal {
  width: 250px;
  height: 100%;
  position: fixed;
  right: 0;
  top: 0;
  background: #131B24;
  z-index: 1000;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.burger-modal a {
  display: block;
  text-decoration: none;
  color: #eff2f7;
  font-size: 2.5rem;
  text-align: center;
  padding: 2rem 0rem;
}

.burger-modal a:first-child {
  padding-top: 10rem;
}

.burger-modal .phone-icon {
  width: 62px;
  height: 62px;
  background: #FF0A78;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 0px 1px 25px rgba(255, 10, 120, 0.4);
          box-shadow: 0px 1px 25px rgba(255, 10, 120, 0.4);
  margin-left: auto;
  margin-right: auto;
  margin-top: 8rem;
}

.burger-modal .phone-icon svg {
  width: 37px;
  height: 37px;
}

/* --- Header --- */
header {
  width: 100%;
  padding: 2.5rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo {
  -webkit-box-flex: 3;
      -ms-flex: 3;
          flex: 3;
  padding-left: 2rem;
  font-size: 1.8rem;
  font-weight: 500;
  color: #eff2f7;
}

header nav {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

header nav a {
  display: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header nav a:hover {
  color: #ebebeb;
}

header nav .burger-cont {
  position: absolute;
  right: 25%;
  width: 40px;
  height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav .burger-cont .b {
  width: 100%;
  height: 3px;
  border-radius: 20px;
  background: #fff;
}

/* --- Hero --- */
.hero {
  width: 100%;
}

.hero .hero1 {
  text-align: center;
}

.hero .hero1 h1 {
  font-size: 3.7rem;
  font-weight: 500;
  padding: 3rem 0rem .5rem 0rem;
  -webkit-animation: headeranim 1.4s ease forwards;
          animation: headeranim 1.4s ease forwards;
  opacity: 0;
}

.hero .hero1 h2 {
  font-size: 2rem;
  font-weight: 500;
  padding: 0rem 5rem;
  color: #E9E9E9;
  -webkit-animation: headeranim 1.4s 1s ease forwards;
          animation: headeranim 1.4s 1s ease forwards;
  opacity: 0;
}

.hero .hero1 .cta {
  display: block;
  text-decoration: none;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: .6rem 2.2rem;
  margin-top: 3rem;
  background: #FF0A78;
  margin-left: auto;
  margin-right: auto;
  color: #0E141B;
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: 4px;
  -webkit-box-shadow: 0px 1px 25px rgba(255, 10, 120, 0.4);
          box-shadow: 0px 1px 25px rgba(255, 10, 120, 0.4);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  -webkit-animation: headeranim 2s 2.2s ease forwards;
          animation: headeranim 2s 2.2s ease forwards;
  opacity: 0;
}

.hero .hero1 .cta:hover {
  background: #e9096e;
}

.hero .hero1 .medias {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6rem;
}

.hero .hero1 .medias .media {
  padding: .9rem;
  margin: 0rem 2rem;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6), -2px -2px 10px rgba(255, 255, 255, 0.08);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6), -2px -2px 10px rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  background: #0E141B;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.hero .hero1 .medias .media svg {
  width: 30px;
  height: 30px;
}

.hero .hero1 .medias .media:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.hero .hero1 .medias .fb {
  -webkit-animation: headeranim 2s 2.4s ease both;
          animation: headeranim 2s 2.4s ease both;
}

.hero .hero1 .medias .insta {
  -webkit-animation: headeranim 2s 2.8s ease forwards;
          animation: headeranim 2s 2.8s ease forwards;
}

.hero .hero1 .medias .git {
  -webkit-animation: headeranim 2s 3.2s ease forwards;
          animation: headeranim 2s 3.2s ease forwards;
}

.hero .hero2 {
  display: none;
}

h3 {
  text-align: center;
  font-size: 2rem;
  padding: 1rem;
  font-size: 3.5rem;
  font-weight: 500;
}

/* --- About --- */
.about {
  padding-top: 10rem;
}

.about .about1 h3 {
  opacity: 0;
}

.about .about1 .about-txt-cont {
  text-align: center;
  padding: 0rem 2.7rem;
  font-size: 1.4rem;
  color: #E9E9E9;
  line-height: 140%;
  position: relative;
  opacity: 0;
}

.about .about1 .about-txt-cont .about-text {
  z-index: 3;
}

.about .about1 .about-txt-cont .about-img {
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  top: -12%;
  left: 4%;
  background: blue;
  z-index: -1;
}

.about .about1 a {
  display: block;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  border: none;
  outline: none;
  color: #FF0A78;
  margin-left: auto;
  margin-right: auto;
  padding: .5rem 3rem;
  margin-top: 3rem;
  font-weight: 600;
  font-size: 1.8rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  /* background: red; */
  text-decoration: none;
  position: relative;
  overflow: hidden;
  opacity: 0;
}

.about .about1 a::before, .about .about1 a::after {
  content: '';
  position: absolute;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  z-index: -3;
  -webkit-transition: border .5s ease;
  transition: border .5s ease;
}

.about .about1 a::before {
  top: 0%;
  left: -16%;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-top: 17px solid #FF0A78;
}

.about .about1 a::after {
  bottom: 0%;
  right: -16%;
  border-left: 17px solid transparent;
  border-right: 17px solid transparent;
  border-bottom: 17px solid #FF0A78;
}

.about .about2 {
  display: none;
}

/* --- Projects --- */
.projects > .project.light {
  background: #121921;
}

.projects > .project.light .tag {
  background: #17222e;
  color: #344b5f;
}

.projects > .project.dark .tag {
  background: #141B24;
  color: #454e5a;
}

.projects {
  width: 100%;
  padding-top: 8rem;
}

.projects h3 {
  padding-bottom: 4rem;
  opacity: 0;
}

.projects .project {
  padding: 2rem 0rem;
}

.projects .project .p-img-cont .p-img-svg, .projects .project .p-img-cont .p-img-svg-bigger {
  opacity: 0;
  display: none;
}

.projects .project .p-img-cont .img-cont {
  width: 250px;
  height: 170px;
  position: relative;
  display: block;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  border-radius: 6px;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.3);
  opacity: 0;
}

.projects .project .p-img-cont .img-cont .p-img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.5s ease !important;
  transition: 0.5s ease !important;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.projects .project .p-content-cont .p-title, .projects .project .p-content-cont .p-desc {
  text-align: center;
}

.projects .project .p-content-cont .p-title {
  font-size: 2rem;
  padding: 1.1rem 0rem .9rem 0rem;
  font-weight: 600;
  opacity: 0;
}

.projects .project .p-content-cont .p-desc {
  font-size: 1.4rem;
  padding: 0rem 2rem;
  color: #dddddd;
  opacity: 0;
}

.projects .project .p-content-cont .p-tags {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 1rem 0rem;
  opacity: 0;
}

.projects .project .p-content-cont .p-tags .tag {
  border-radius: 50px;
  padding: .5rem 1rem;
  font-size: 1.1rem;
  font-weight: 700;
  margin: 0rem .2rem;
  cursor: pointer;
}

.projects .project .p-content-cont .p-btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5rem 0rem 1rem 0rem;
}

.projects .project .p-content-cont .p-btns a {
  padding: .4rem 2.5rem;
  font-size: 1.7rem;
  border-radius: 3px;
  border: none;
  outline: none;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-decoration: none;
  font-weight: 600;
  margin: 0rem 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.projects .project .p-content-cont .p-btns .code {
  border: 2px solid #FF0A78;
  color: #FF0A78;
}

.projects .project .p-content-cont .p-btns .code:hover {
  -webkit-box-shadow: 0px 1px 15px rgba(255, 10, 120, 0.4);
          box-shadow: 0px 1px 15px rgba(255, 10, 120, 0.4);
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

.projects .project .p-content-cont .p-btns .live {
  color: #eff2f7;
  background: #FF0A78;
  -webkit-box-shadow: 0px 1px 15px rgba(255, 10, 120, 0.4);
          box-shadow: 0px 1px 15px rgba(255, 10, 120, 0.4);
}

.projects .project .p-content-cont .p-btns .live:hover {
  background: #e9096e;
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

/* --- Skills --- */
.skills {
  padding: 2rem 0rem;
  position: relative;
}

.skills h3 {
  padding-bottom: 2rem;
}

.skills .horizontal-dots, .skills .top-vertical, .skills .vertical-line, .skills .skills-cont {
  display: none;
}

.skills .skill-row {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: .8rem 0rem;
  -webkit-transform: translateX(-80%);
          transform: translateX(-80%);
}

.skills .skill-row .skill {
  background: #141B24;
  color: #384454;
  padding: .5rem 1.4rem;
  font-weight: 600;
  font-size: 1.7rem;
  border-radius: 50px;
  margin: 0rem 1rem;
  opacity: 0.6;
}

.skills .skills1 {
  -webkit-animation: anim 55s linear alternate infinite;
          animation: anim 55s linear alternate infinite;
}

.skills .skills2 {
  animation: anim 60s linear alternate-reverse infinite;
}

.skills .skills3 {
  -webkit-animation: anim 52s linear alternate infinite;
          animation: anim 52s linear alternate infinite;
}

/* --- Contact --- */
.contact {
  padding-bottom: 2rem;
}

.contact h3 {
  opacity: 0;
}

.contact h3 span {
  position: relative;
}

.contact h3 span .underline {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 0%;
  height: 4px;
  background: #FF0A78;
  border-radius: 10px;
  -webkit-box-shadow: 0px 2px 20px rgba(255, 10, 120, 0.6);
          box-shadow: 0px 2px 20px rgba(255, 10, 120, 0.6);
  -webkit-transform: scaleX(0.95);
          transform: scaleX(0.95);
}

.contact .contacts {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
}

.contact .contacts .contact-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: .7rem 0rem;
  opacity: 0;
}

.contact .contacts .contact-cont .svg-cont {
  width: 42px;
  height: 42px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-radius: 50%;
  background: #141B24;
}

.contact .contacts .contact-cont .svg-cont svg {
  width: 27px;
  height: 27px;
}

.contact .contacts .contact-cont .txt {
  padding-left: 1rem;
  font-size: 1.6rem;
  color: #878d97;
}

.contact .medias {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
}

.contact .medias .media {
  padding: .7rem;
  margin: 0rem 2rem;
  -webkit-box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6), -2px -2px 10px rgba(255, 255, 255, 0.08);
          box-shadow: 4px 4px 20px rgba(0, 0, 0, 0.6), -2px -2px 10px rgba(255, 255, 255, 0.08);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  opacity: 0;
}

.contact .medias .media svg {
  width: 37px;
  height: 37px;
}

.contact .medias .media:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}
/*# sourceMappingURL=style.css.map */